.card-head {
	width: 94%;
	font-size: 1vw;
	position: absolute;
}

.card-name {
	font-size: 1.5vw;
	padding-left: 3%;
	font-family: 'HeroesFont';
	width: 40%;
	margin-left: -3%;
	color: white;
	background-color: black;
	border: 2px solid black;
	margin-top: 10%;
	opacity: 0.9;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.card-level {
	color: white;
	width: 40%;
	margin-left: 62%;
	background-color: black;
	border: 2px solid black;
	opacity: 0.9;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-top: -9%;
}

.star {
	max-height: 20%;
	height: 20%;
	max-width: 20%;
	width: 20%;
}

.table-stats {
	width: 100%;
}
