.card-frame {
	height: 200px;
	width: 460px;
	background-color: #bbb;
	opacity: 0.9;
	border: 2px solid black;
	position: absolute;
	border-radius: 25px;
	margin-top: 480px;
}

.frame-table {
	width: 100%;
	margin-top: 10px;
}

.frame-biography {
	margin-top: 20px;
}
