.card-frame {
	width: 94%;
	font-size: 4vw;
	background-color: #bbb;
	opacity: 0.9;
	border: 2px solid black;
	position: absolute;
	border-radius: 2vw;
	margin-top: 88%;
	height: 29%;
	text-align: center;
}

@media (min-width: 768px) {
	.card-frame {
		font-size: 1.3vw;
	}
}
