.vs-img {
	height: auto;
	width: 50%;
	margin-left: 25%;
}
.fight-button {
	width: 80%;
	margin: 10%;
	font-size: 4rem;
	background-color: darkblue !important;
}

.random-button {
	width: 80%;
	margin: 10%;
	font-size: 4rem;
	background-color: green !important;
}

.loadingLogo {
	margin-left: 50%;
	margin-top: 50%;
}
