.vs-img {
	height: auto;
	width: 50%;
	margin-left: 25%;
}
.fight-button {
	width: 80%;
	margin: 10%;
	font-size: 4rem;
	background-color: darkblue !important;
}

.random-button {
	width: 80%;
	margin: 10%;
	font-size: 4rem;
	background-color: green !important;
}

.loadingLogo {
	margin-left: 50%;
	margin-top: 50%;
}

.newcombat-button {
	width: 80%;
	margin-top: 70%;
	font-size: 4rem;
	background-color: green !important;
}

.winner {
	text-align: center;
	margin: 10%;
	font-size: 3rem;
}

.centerBand {
	margin-top: 5%;
}
