.card-background {
	margin: 1%;
	border-radius: 2vw;
	overflow: hidden;
	background-color: #bbb;
}
.card-background img {
	max-height: var(--width);
	--width: 40vw;
	margin-bottom: 0%;
}

.silouhette {
	max-height: var(--width);
	--width: 40vw;
	margin-top: 23%;
}
